<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- Import css y Bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="icon"
      href="https://static.wixstatic.com/media/8bca3a_ccf60ae05d2649a5be9b2fb6da499f38~mv2.png/v1/fill/w_340,h_340,al_c,usm_0.66_1.00_0.01,enc_auto/gameicon.png"
    />
    <title>Store Game!</title>
  </head>
  <body>
    <header>
      <!-- Titulos y Logo -->
      <nav class="Encabezado bg-dark">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a
              class="nav-link navbar-space"
              aria-current="page"
              href="index.html"
              >Inicio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-space" href="juegos.html">Juegos</a>
          </li>
          <a class="navbar-brand" href="index.html">
            <img
              src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/responsive%20icono%20negro.png?v=1651195099969"
              alt=""
              width="100"
              height="88"
            />
          </a>
          <li class="nav-item">
            <a class="nav-link navbar-space" href="buscar.html">Buscar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-space" href="Perfil.html"
              >Perfil</a
            >
          </li>
          <li class="UserPNG">
            <a class="nav-link" href="login.html">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-user-circle"
                width="44"
                height="44"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#ffffff"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="9" />
                <circle cx="12" cy="10" r="3" />
                <path
                  d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"
                />
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="row">
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/1dy5w3SNiJnXjP8YvmydCL9X.webp?v=1649260896214"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Horizon Forbidden West</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
           <a href="game.html">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/phvVT0qZfcRms5qDAk0SI3CM.webp?v=1649260078471"
            class="card-img-top"
            alt="..."
          />
          </a>
          <div class="card-body">
            <p class="textcards">Elden Ring</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/7aJhOMuJALdBPqZHVy3CgJsg.webp?v=1649436690041"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Dying Light 2</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/fG1luhARIzYwDsjc3J9kv1f0.webp?v=1649437005651"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Sifu</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/2022241042015_1.jpg?v=1649437292786"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">GhostWire Tokyo</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/Portada_God_of_War_Ragnarok.webp?v=1649437521188"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">God of War: Ragnarök (PROXIMAMENTE)</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/kirby-y-la-tierra-olvidada-20219242114564_7.jpg?v=1649437668834"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Kirby y la tierra olvidada</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/Avatar-Frontiers-of-Pandora-300-by-300.png?v=1649437744766"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Avatar - Frontiers of Pandora</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/0_GranTurismo7PressPoster.jpg?v=1649437822314"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Gran Turismo 7</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/Hpl5MtwQgOVF9vJqlfui6SDB5Jl4oBSq.jfif?v=1649438917470"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Red dead Redemption 2</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/mafia-definitive-edition-definitive-edition-pc-game-steam-europe-cover.png?v=1649439247354"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Mafia - Definitive Edition</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/FkzwjnJknkrFlozkTdeQBMub.webp?v=1649439307745"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Resident Evil 8</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/JdvqcPlTYMxXrA1QQJm6TbDX.webp?v=1649439348117"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Grand Theft Auto V</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/w48z6bzefZPrRcJHc7L8SO66.webp?v=1649439403895"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">The Last Of Us - Part II</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/qiMTmGrZfSPfLDbfeLvBUXwEfpcSNQgi.jfif?v=1649439435884"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">The Witcher III - Wild Hunt</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/EGS_GodofWar_SantaMonicaStudio_S2_1200x1600-fbdf3cbc2980749091d52751ffabb7b7_1200x1600-fbdf3cbc29.jfif?v=1649439496423"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">God of War</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/haloinfinite.png?v=1649439782262"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Halo Infinite</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/328c466101cd8425b7aaf9353d531c93.jpg?v=1649441570005"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Forza Horizon 5</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/warzone-new.jpg?v=1649441569873"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Warzone</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/EGS_LeagueofLegends_RiotGames_S2_1200x1600-7fd64f0f7b674900bdd172967865d545.jfif?v=1649441570090"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">League Of Legends</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/gang-beasts-20171212231928_11.jpg?v=1649441570315"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Gang Beasts</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/6OFhqtXvBpBavqM50dciqeRH.webp?v=1649441569936"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Battlefield 2042</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/amongus.jfif?v=1649441570195"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Amongusgus</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/11307uYG0CXzRuA9aryByTHYrQLFz-HVQ3VVl7aAysxK15HMpqjkAIcC_R5vdfZt52hAXQNHoYhSuoSq_46_MT_tDBcLu49I.webp?v=1649441570543"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Minecraft</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/genshin-impact-button-fin-1601346152039.jpg?v=1649441570069"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Genshin Impact</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/sbaZEJ4jKCsdLAjQwVPSzMza.webp?v=1649441569697"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Fortnite</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/CpIKiv8qH20F6my7atxQIzW0zJ79WiB0.webp?v=1649443254059"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">COD: Modern Warfare 2019</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/the_master_chief_collection-4813258.jpg?v=1649443252100"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Halo: The Master Chief Collection</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/9zfox54dfyv41.webp?v=1649443253239"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Valorant</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/fkPaEpz998Uu7QaofSj1VIhr.webp?v=1649443253271"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Farcry 6</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/counter-strike-global-offensive-button-1640896165989.jpg?v=1649443252324"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Counter Strike: Global Ofensive</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/doom_eternal_bg_date_m_w_launch.jpg?v=1649443252602"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Doom Eternals</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/8ThoZrE519SBuOMpYKFunYS0.webp?v=1649443252160"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Apex Legends</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/cE40dxmsoqJUxZ9MKj3BvNOI.webp?v=1649443252534"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">RainBow Six Siege</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/huRSi3QcAk2ppr8FyHvy92sg.webp?v=1649454623848"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Riders Republic</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/nintendo_switch_sports-5608175.jpg?v=1649454622713"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Nintendo Switch Sports</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/1zfTY2JW41HdDTGJC00Go4nk.webp?v=1649454623392"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Fifa 21</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/nba-2k20---button-fin-1565657464172.jpg?v=1649454624477"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">NBA 2K 2020</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/Vz4Wgc24MwHrKcckgCaf1ckJ.webp?v=1649454623334"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Madden NFL 21</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/f8AI0yEt8NEbvrBceGP7HtHm.webp?v=1649454623448"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">NBA 2K 2021</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/2iPFm0vpKwiooQ50D5HtUwZD.webp?v=1649454623256"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">UFC 4</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/witS8C6Rswg5cINrjBdGdZXA.webp?v=1649454623562"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Tony Hawk's Pro Skater</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/5HvW0dqebrOsFASfaRR6XDyr.jfif?v=1649454623099"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">MLB - The show 22</p>
          </div>
        </div>
      </div>
      <div class="col">
         <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/fG1luhARIzYwDsjc3J9kv1f0.webp?v=1649437005651"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Sifu</p>
          </div>
        </div>
      </div>
            <div class="col">
        <div class="card text-white bg-dark" style="width: 15rem">
          <img
            src="https://cdn.glitch.global/f04ceca0-ee2f-496d-b9d5-bbef3bbe8474/FkzwjnJknkrFlozkTdeQBMub.webp?v=1649439307745"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="textcards">Resident Evil 8</p>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
     <div class="bodyredes">
        <section class="sectionn">
          <div class="color"></div>
          <div class="color"></div>
          <div class="color"></div>
          <ul class="ull">
            <li>
              <a href="#"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-facebook"
                  width="36"
                  height="36"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="#ffffff"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
                  />
                </svg>
              </a>
            </li>
            <li>
              <a href="#"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-instagram"
                  width="36"
                  height="36"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="#ffffff"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <rect x="4" y="4" width="16" height="16" rx="4" />
                  <circle cx="12" cy="12" r="3" />
                  <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" /></svg
              ></a>
            </li>
            <li>
              <a href="#"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-twitter"
                  width="36"
                  height="36"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="#ffffff"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"
                  /></svg
              ></a>
            </li>
            <li>
              <a href="#"
                ><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <rect x="3" y="5" width="18" height="14" rx="2" />
  <polyline points="3 7 12 13 21 7" />
</svg>
              </a>
            </li>
            <li>
              <a href="#"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-youtube"
                  width="36"
                  height="36"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="#ffffff"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <rect x="3" y="5" width="18" height="14" rx="4" />
                  <path d="M10 9l5 3l-5 3z" /></svg
              ></a>
            </li>
          </ul>
        </section>
      </div>
      <div class="textScore2">
      <center>
        <p class="letrapequenia"> Derechos Reservados -Proyecto Final - Organización de Computadoras y Asemble - Universidad del Valle de Guatemala</p>
      </center>
                
      </div>
    </footer>
  </body>
</html>
